.form {
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: spaces(3);
    font-weight: 700;
  }

  &-field {
    min-width: 300px;
    max-width: 500px;
    padding: spaces(2);
    margin-bottom: spaces(4);
    border-color: $blue;
    border-radius: $radius;
    resize: none;
    overflow: hidden;
  }
}
