.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spaces(2) spaces(3);
  background-color: $blue;
  border-radius: $radius;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color $time $cubic, box-shadow $time $cubic;

  &:hover {
    background-color: $orange;
    box-shadow: $buttonOutShadow;
  }

  &:active {
    box-shadow: $buttonInnerShadow;
  }

  &:disabled {
    background-color: $grey;
    color: $darkGrey;
    box-shadow: none;
  }
}
