.filter {
  outline: 1px solid $black;
  border-radius: $radius;
  padding: spaces(4);
  color: $darkGrey;

  &-options-wrapper {
    display: flex;
    padding-bottom: spaces(4);
  }

  &-field-wrapper {
    transition: transition(border);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;

    margin-right: spaces(1);
    font-size: 12px;
    border: 2px solid $grey;
    border-radius: $radius;
    transition: border $time $cubic;

    &--onFocus {
      border: 2px solid $blue;
    }
  }

  &-title {
    position: absolute;
    top: 50%;
    left: spaces(2);
    transform: translateY(-50%);
    transition: transition(color), transition(translate);
  }

  &-input {
    padding: spaces(1) spaces(2);
    margin-right: spaces(1);
    border: none;
    border-radius: $radius;

    &:focus {
      outline: none;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;

    & button:not(:last-child) {
      margin-right: spaces(1);
    }
  }
}

.status-list {
  display: flex;
  align-items: center;
  flex-grow: 1;

  & li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: spaces(2);
    }
  }

  & label {
    font-size: 14px;
  }
}
