.todo {
  display: flex;
  align-items: center;
  padding: spaces(4);
  border-radius: $radius;
  background-color: $white;
  box-shadow: $shadow;

  &:not(:last-child) {
    margin-bottom: spaces(4);
  }

  &:hover {
    background-color: $lightBlue;
  }

  &-task {
    flex-grow: 1;
    text-align: left;
    padding: 0 spaces(4);
    transition: text-decoration $time $cubic, color $time $cubic;

    &--completed {
      color: lightgrey;
      text-decoration: line-through;
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: nowrap;
  }
}
