.todo {
  display: flex;
  align-items: center;
  padding: spaces(4);
  border-radius: $radius;
  background-color: $white;
  box-shadow: $shadow;

  &:not(:last-child) {
    margin-bottom: spaces(4);
  }

  &:hover {
    background-color: $lightBlue;
  }

  &-task {
    text-align: left;
    flex: 1;
    padding: 0 spaces(4);
    word-break: break-all;
    transition: text-decoration $time $cubic;

    &--completed {
      color: $darkGrey;
      text-decoration: line-through;
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: nowrap;

    & button:not(:last-child) {
      margin-right: spaces(1);
    }
  }
}
