.todo {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 4px rgba(212, 212, 212, 0.5);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &-task {
    padding-left: 15px;
    text-align: left;
    transition: color 0.2s ease-in-out;
    &--completed {
      color: red;
    }
  }
}
