.todo {
  display: flex;
  align-items: center;

  width: 80%;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 4px rgba(212, 212, 212, 0.5);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &-task {
    flex-grow: 1;
    text-align: left;
    padding: 0 15px;
    transition: text-decorationlor 0.2s ease-in-out;
    &--completed {
      color: lightgrey;
      text-decoration: line-through;
    }
  }

  &-buttons {
    display: flex;
    flex-wrap: nowrap;
  }
}
