// Colors
$grey: #ebebeb;
$darkGrey: #808080;
$white: #ffffff;
$blue: #294b8a;
$lightBlue: #a8c2f3;
$orange: #e27217;
$black: #000000;

// Options

$radius: 5px;
$shadow: 2px 2px 5px 4px rgba(212, 212, 212, 0.5);
$buttonOutShadow: 2px 2px 3px 2px rgba(212, 212, 212, 0.5);
$buttonInnerShadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2) inset;

// Effects
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
