// Colors
$grey: #f0f0f0;
$white: #ffffff;
$blue: #294b8a;
$orange: #e27217;

// Options

$radius: 5px;
$shadow: 2px 2px 5px 4px rgba(212, 212, 212, 0.5);

// Effects
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
