.navbar {
  display: flex;
  &-link {
    display: block;
    padding: spaces(5) spaces(4);
    color: $white;

    font-weight: 700;
    text-decoration: none;

    &.active {
      color: $orange;
    }
  }
}
